<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/Test.js"></script>
    @Scripts.Render("~/business")
</head>
<body id="mainBody">
    @Html.X().ResourceManager().ScriptMode(Ext.Net.ScriptMode.Debug).StartupMask(new StartupMask { HideDelay = 500, Message = "正在准备桌面..." })
    @Html.X().ResourcesRegistrator().RegisterAllResources(true)
    @RenderBody()
</body>
</html>
