@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@if ((Session["displayMode"] ?? "page") == "page")
{
    foreach (var node in Model)
    { 
        if(node.IsRootNode)
        {
             @Html.DisplayFor(m => node)
        }
        else if(node.Controller.ToLower()=="home"&&node.Action.ToLower()!="index")
        {
            <a href="javascript:base.cmg('g_@node.Url.ToMd5()')">@node.Title</a>
        }
        else
        {   
            if(!node.IsCurrentNode)
            {
                <a href="javascript:base.cmg('g_@Model.ElementAt(1).Url.ToMd5()','node_@node.Url.ToMd5()')">@node.Title</a>        
            }
            else
            {
                @Html.DisplayFor(m => node)
            }
        }
        if (node != Model.Last())
        {
            <text> &gt; </text>
        }
    }
}
else
{
     <text> @Model.Last().Title </text>
}